%p
  - unless source.previous.present?
    [ 주장 #{link_to source.proposition.title, source.proposition} ] "#{source.choice}"합니다.
  - else
    [ 주장 #{link_to source.proposition.title, source.proposition} ] "#{source.previous.choice}"에서 "#{source.choice}"로 변경합니다.
- if source.description.present?
  %p= auto_link source.description
%p
  %small.text-muted
    %i.glyphicon.glyphicon-user
    %small= source.user.email
    %i.glyphicon.glyphicon-time
    %small= timeago_tag source.created_at

- if source.previous.present?
  :javascript
    $(document).on("ready page:change", function(){
      setTimeout(function () {
          $('##{dom_id(status)} .status--stand__badge').addClass('glyphicon-flapping');
        }, Math.floor(Math.random() * 2000));
    });
