%section.intro.jumbotron
  .container
    %h1.display-3 Let’s speak!!
    %p.lead
      = link_to 'Create issue', new_issue_path, class: 'btn btn-success navbar-btn'
%section.issues_wrapper
  - @issues.each do |issue|
    .issue.panel.panel-default
      .panel-heading

        = link_to issue do
          %h4
            - if issue.forked?
              %i.glyphicon.glyphicon-random
            = issue.title
        - if issue.forked?
          %h5
            가지쳐진 이슈입니다. 원래 이슈는
            = link_to '여기', issue.parent_issue
            입니다.
        - if issue.related_proposition.present?
          %h5
            이슈 #{link_to issue.related_issue.title, issue.related_issue}의 주장 #{link_to issue.related_proposition.title, issue.related_proposition}과 관련되어 있습니다.
      = link_to issue do
        .panel-body
          %p This is a longer description. This content is a little bit longer.
          %p= timeago_tag_content issue.created_at, nojs: true
          %small.text-muted by #{issue.user.email}, #{timeago_tag issue.created_at}
