%section.breadcrumb-wrapper
  %ol.breadcrumb
    %li= link_to 'Home', root_path
    %li.active= @issue.title

%section.issue
  .panel.panel-default
    .panel-heading
      %h4= @issue.title
      - if @issue.related_proposition.present?
        %h5
          이슈 #{link_to @issue.related_issue.title, @issue.related_issue}의 주장 #{link_to @issue.related_proposition.title, @issue.related_proposition}과 관련되어 있습니다.
    .panel-body
      %p This is a longer description. This content is a little bit longer.
      %span.text-muted
        %i.glyphicon.glyphicon-user
        %small= @issue.user.email
        %i.glyphicon.glyphicon-time
        %small= timeago_tag @issue.created_at

%section.container.issue__detail.row
  %section.col-md-5
    %h2
      .pull-right
        .btn-group
          = link_to '관심순', @issue, class: "btn btn-default #{'active' if @propositions_order != 'latest'}"
          = link_to '최신순', issue_path(@issue, propositions_order: 'latest'), class: "btn btn-default #{'active' if @propositions_order == 'latest'}"
        - if user_signed_in?
          = link_to '주장하기', new_issue_proposition_path(@issue), class: 'btn btn-default'
      %i.glyphicon.glyphicon-bullhorn
      주장
      .clearfix
    - if @issue.propositions.any?
      .propositions
        - @propositions.each do |proposition|
          = render proposition
    - else
      아직 주장이 없습니다.

    - if @issue.links.any?
      %h2
        %i.glyphicon.glyphicon-paperclip
        링크
      %ul.list-group.links
        - @issue.links.each do |link|
          %li.list-group-item
            = render link

  %section.col-md-7
    %h2
      %i.glyphicon.glyphicon-list
      타임라인
    %ul.timeline.statuses
      - if user_signed_in?
        = render partial: 'comments/new', locals: { comment: @new_comment }
      - @statuses.each do |status|
        = render :partial => "statuses/#{status.source_type.underscore}",
          locals: { status: status, source: status.source },
          layout: "layouts/status"

