%section.breadcrumb-wrapper
  %ol.breadcrumb
    %li= link_to 'Home', root_path
    %li.active= @issue.title

%section.issue
  .panel.panel-default
    .panel-heading
      %h4= @issue.title
    .panel-body
      %p This is a longer description. This content is a little bit longer.
      %small.text-muted by #{@issue.user.email}, #{timeago_tag @issue.created_at}

%section.container.issue__detail
  %section.propositions-wrapper.col-md-5
    %h2 제안목록
    %ul.propositions
      - @issue.propositions.each do |proposition|
        %li.proposition
          .proposition__title= proposition.title
          %em.status__user -- #{proposition.user.email}
          .proposition__stands
            - Stand.choices.keys.each do |choice|
              #{choice.to_sym} : #{proposition.count_stands(choice)}
          .proposition__controll-group
            = link_to '투표하기', new_proposition_stand_path(proposition)
            - if user_signed_in?
              \|
              = link_to '의견달기', new_issue_comment_path(@issue, proposition_id: proposition), remote: true
    - if user_signed_in?
      %ul.controll-group
        %li= link_to '제안하기', new_issue_proposition_path(@issue)

  %section.col-md-7
    %h2 타임라인
    %ul.timeline.statuses
      - if user_signed_in?
        = render partial: 'comments/new', locals: { comment: @new_comment }
      - @statuses.each do |status|
        = render status.source

