%section.breadcrumb-wrapper
  %ol.breadcrumb
    %li= link_to 'Home', root_path
    %li.active
      - if @issue.forked?
        %i.glyphicon.glyphicon-random
      = @issue.title

%section.issue
  .panel.panel-default
    .panel-heading
      .pull-right
        - if user_signed_in?
          = link_to fork_issue_path(@issue), method: :post, class: 'btn btn-default' do
            가지치기
            %i.glyphicon.glyphicon-random
      %h4
        - if @issue.forked?
          %i.glyphicon.glyphicon-random
        = @issue.title
        - if @issue.forked?
          %h5
            가지쳐진 이슈입니다. 원래 이슈는
            = link_to '여기', @issue.parent_issue
            입니다.
        - if @issue.related_proposition.present?
          %h5
            이슈 #{link_to @issue.related_issue.title, @issue.related_issue}의 주장 #{link_to @issue.related_proposition.title, @issue.related_proposition}과 관련되어 있습니다.

    .panel-body
      %p This is a longer description. This content is a little bit longer.
      %span.text-muted
        %i.glyphicon.glyphicon-user
        %small= @issue.user.email
        %i.glyphicon.glyphicon-time
        %small= timeago_tag @issue.created_at

%section.container.issue__detail.row
  .col-md-5
    %section
      %h2
        .pull-right
          .btn-group
            = link_to '관심순', @issue, class: "btn btn-default #{'active' if @propositions_order != 'latest'}"
            = link_to '최신순', issue_path(@issue, propositions_order: 'latest'), class: "btn btn-default #{'active' if @propositions_order == 'latest'}"
          - if user_signed_in?
            = link_to '주장하기', new_issue_proposition_path(@issue), class: 'btn btn-default'
        %i.glyphicon.glyphicon-bullhorn
        주장
        .clearfix
      - if @issue.propositions.any?
        .propositions
          - @propositions.each do |proposition|
            = render proposition
        %nav.text-center
          %ul.pagination
            %li
              = link_to issue_path(@issue, propositions_order: @propositions_order) do
                %span &laquo;
            %li.active
              %a(href="#") 1
            %li
              %a(href="#") 2
            %li
              %a(href="#") 3
            %li
              %a(href="#") 4
            %li
              %a(href="#") 5
            %li
              = link_to issue_path(@issue, propositions_order: @propositions_order) do
                %span &raquo;
      - else
        아직 주장이 없습니다.

    - if @issue.links.any?
      %section
        %h2
          %i.glyphicon.glyphicon-paperclip
          링크
        %ul.list-group.links
          - @issue.links.each do |link|
            %li.list-group-item
              = render link

  .col-md-7
    %section
      %h2
        %i.glyphicon.glyphicon-list
        타임라인
      %ul.timeline.statuses
        - if user_signed_in?
          = render partial: 'comments/new', locals: { comment: @new_comment }
        - @statuses.each do |status|
          = render :partial => "statuses/#{status.source_type.underscore}",
            locals: { status: status, source: status.source },
            layout: "layouts/status"

