%section.breadcrumb-wrapper
  %ol.breadcrumb
    %li= link_to 'Home', root_path
    %li.active= @issue.title

%section.issue
  .panel.panel-default
    .panel-heading
      %h4= @issue.title
      - if @issue.related_proposition.present?
        %h5
          related
          = link_to "이슈 \"#{@issue.related_issue.title}\"", issue_path(@issue.related_issue)
          의 제안 "#{@issue.related_proposition.title}"
    .panel-body
      %p This is a longer description. This content is a little bit longer.
      %small.text-muted by #{@issue.user.email}, #{timeago_tag @issue.created_at}

%section.container.issue__detail.row
  %section.propositions-wrapper.col-md-5
    %h2
      - if user_signed_in?
        = link_to '제안하기', new_issue_proposition_path(@issue), class: 'pull-right btn btn-default'
      제안목록
    .propositions
      - @issue.propositions.each do |proposition|
        = render proposition

    %h2 링크
    %ul.list-group.links
      - @issue.links.each do |link|
        %li.list-group-item
          = render link

  %section.col-md-7
    %h2 타임라인
    %ul.timeline.statuses
      - if user_signed_in?
        = render partial: 'comments/new', locals: { comment: @new_comment }
      - @statuses.each do |status|
        = render :partial => "statuses/#{status.source_type.underscore}",
          locals: { status: status, source: status.source },
          layout: "layouts/status"

