- if user_signed_in?
  .user--current
    .user--current__email= current_user.email
  = link_to 'Log out', destroy_user_session_path, method: :delete
  = link_to 'Create issue', new_issue_path
- else
  = link_to 'Log in', new_user_session_path
  = link_to 'Sign up', new_user_registration_path

