%li.status
  .timeline-badge.info
    %i.glyphicon.glyphicon-hand-down
  .timeline-panel
    .timeline-body.status__contents
      %p
        - unless stand.previous.present?
          [ 제안 "#{stand.proposition.title}" ] "#{stand.choice}"합니다.
        - else
          [ 제안 "#{stand.proposition.title}" ] "#{stand.previous.choice}"에서 "#{stand.choice}"로 변경합니다.
      - if stand.description.present?
        %p= stand.description
      %p
        %small.text-muted
          %i.glyphicon.glyphicon-user
          %small= stand.user.email
          %i.glyphicon.glyphicon-time
          %small= timeago_tag stand.created_at

