%h1 제안보기


%section
  %h2 이슈
  .issue
    .issue__title= @issue.title

%section
  %h2 제안
  .proposition
    .proposition__title= @proposition.title
    %em.status__user= @proposition.user.email

%section
  %h2 투표하기
  = form_for [@proposition, @stand] do |f|
    = render partial: 'shared/error_messages', locals: { object: @stand }
    .form-group
      - @stand.available_choices(current_user).keys.each do |choice|
        = f.radio_button :choice, choice
        = f.label choice.to_sym
    .form-group
      = label_tag :has_comment, '의견도 게시합니다.'
      = check_box_tag :has_comment
    .form-group
      = fields_for @comment do |comment_f|
        = comment_f.hidden_field :proposition_id, value: @proposition.id
        = comment_f.text_area :contents
    = f.submit
