%h1 투표하기

%section
  %h2 이슈
  .issue
    .issue__title= @issue.title

%section
  %h2 주장
  .proposition
    .proposition__title= @proposition.title
    %em.status__user= @proposition.user.email

%section
  %h2 투표하기
  = form_for [@proposition, @stand] do |f|
    = render partial: 'shared/error_messages', locals: { object: @stand }
    .form-group
      - @stand.available_choices(current_user).keys.each do |choice|
        = f.radio_button :choice, choice
        = f.label choice.to_sym
    .form-group
      = f.label :has_description, data: { toggle: "collapse", target: "#stand_description"} do
        = f.check_box :has_description
        의견도 게시합니다.
    .form-group
      = f.text_area :description, class: 'collapse'
    = f.submit
