%li{id: dom_id(status) }
  .timeline-badge{class: "status--#{status.source_type.underscore}__badge"}
  %a.timeline-like(href='#')= rand(5..30)
  .timeline-panel
    .timeline-body.status__contents
      = yield
    - if status.source.try(:stated_links).try(:any?)
      - status.source.stated_links.each do |link|
        - if link.has_meta?
          .timeline-footer
            = render link
    - status.replies.each do |reply|
      .timeline-footer
        .status__reply
          %p= auto_link reply.contents
          %p
            %small.text-muted
              %i.glyphicon.glyphicon-user
              %small= reply.user.email
              %i.glyphicon.glyphicon-time
              %small= timeago_tag reply.created_at
      - reply.links.each do |link|
        .timeline-footer
          = render link
    - if user_signed_in?
      .timeline-footer
        = render partial: 'replies/new', locals: { status: status, reply: status.replies.new }
